<div class="wrapper">
  <div class="inner">
    <div class="quote">
      <%= @quote %>
    </div>

    <div class="image">
      <img src="<%= @image %>">
    </div>

    <div class="citere quote">
      <%= @da_quote %>
    </div>
  </div>
</div>