<div class="wrapper">
  <div class="quote">
    <%= @quote %>
  </div>

  <div class="inner">
    <div class="image">
      <img src="<%= @image %>">
    </div>
  </div>

  <div class="facebook">
    <div id="fblogin">
      <fb:login-button scope="public_profile,email" onlogin="checkLoginState();"></fb:login-button>
    </div>
    <div id="fbshare">
      <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-size="small" data-mobile-iframe="true">
        <a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">Del</a>
      </div>
    </div>
  </div>
  <div class="citere quote">
    <%= @da_quote %>
  </div>
</div>
<div class="flag">
  <div id="top">
    <div id="t1"></div>
    <div id="t2"></div>
    <div id="t3"></div>
  </div>
  <div id="middle">
    <div id="m1"></div>
  </div>
  <div id="bottom">
    <div id="t1"></div>
    <div id="t2"></div>
    <div id="t3"></div>

  </div>
</div>
