<div class="wrapper">
  <div class="quote">
    <%= @quote %>
  </div>

  <div class="inner">
    <div class="image">
      <img src="<%= @image %>">
    </div>
  </div>

  <div class="citere quote">
    <%= @da_quote %>
  </div>
</div>
