<div class="container">
  <div class="photos row">
    <% @results.each do |result| %>
      <input type="image" id="<%=result.keys.first%>" class="photo col" src="<%= result.values.first %>" onclick="selectImage(this);"/>
    <% end %>
  </div>
</div>
