<script>
  function selectImage(element){
    element.classList.toggle('selected');
    manipulateDeletionArray(element.id);
  }

  function manipulateDeletionArray(id){
    element = document.getElementById('markedForDelete')

    arr = null;
    if (element.value.length > 0) {
      arr = element.value.split(',');
    } else {
      arr = [];
    }

    index = arr.indexOf(id);
    if (index > -1){
      arr.splice(index, 1);
    } else {
      arr.push(id);
    }

    element.value = arr.join(',');
  }

  let pics = document.getElementsByClassName('photo col');
  for (pic of pics) {
    pic.addEventListener("click", function(event) {
      selectImage(this);
    })
  }
</script>

<%=form_tag(thumbnails_destroy_path, method: 'delete') do %>
  <input type='hidden' name='markedForDelete' id='markedForDelete' value='-1'></input>
  <input type="hidden" name="deleteKey" id="deleteKey" value="<%=@dk%>"></input>
  <div class="container">
    <div class='deletebutton'>
      <input type='submit' value='De1337'>
    </div>
    <div class="photos row">
      <% @results.each do |result| %>
        <img id="<%=result.id%>" class="photo col" src="<%= result.thumbnail_url %>"/>
      <% end %>
    </div>
  </div>
<% end %>

<script>
  arr = Array.from(document.getElementsByClassName('photo'))
  arr.map(e => e.onclick=function(){selectImage(this)})
</script>
