<%=form_tag(thumbnails_destroy_path, method: 'delete') do %>
  <div class='photos container'>
    <div>
      <input type='submit' value='Delete'>
    </div>
    <div class='row'>
      <% @results.each do |result| %>
        <img id='<%=result.keys.first%>' class='photo col' src='<%= result.values.first %>'onclick='selectImage(this);'/>
      <% end %>
    </div>
  </div>
<%end%>
