@import 'bootstrap-sprockets';
@import 'bootstrap';

body {
  background-color: red;
}

.inner {
  max-height: 93vh;
  max-width: 93vw;
  margin: auto;
}

.quote {
  text-align: center;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  font-weight: bold;
  font-size: 200%;
  padding: 10px;
  border: 10px;
  color: green;}

.image {
  text-align: center;
  max-height: 90vh;
  max-width: 90vw;
  margin: auto;
}

img {
  max-height: 75vh;
  max-width: 75vw;
  margin: auto;
}

@media only screen and (max-height: 500px) {
  .quote {
    font-size: 150%;
  }
}

@media only screen and (max-height: 400px) {
  .quote {
    font-size: 100%;
  }
}

@media only screen and (max-height: 350px) {
  .quote {
    font-size: 75%;
  }
}
