@import 'bootstrap-sprockets';
@import 'bootstrap';

body {
  background-color: red;
}

.wrapper {
  max-height: 600px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.inner {
  max-height: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.quote {
  text-align: center;
  font-family: 'Comic Sans MS';
  font-weight: bold;
  font-size: 200%;
  padding: 10px;
  color: green;
}

.image, img {
  max-height: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
