@import 'bootstrap-sprockets';
@import 'bootstrap';

.inner {
  max-height: 93vh;
  max-width: 93vw;
  margin: auto;
}

.quote {
  text-align: center;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  font-weight: bold;
  font-size: 200%;
  padding: 10px;
  border: 10px;
  color: rgb(26, 85, 251);
  /* 216 0 243 1  neon purple */
  /* 143 26 251 */
}

.image {
  text-align: center;
  max-height: 90vh;
  max-width: 90vw;
  margin: auto;
}

img {
  max-height: 75vh;
  max-width: 75vw;
  margin: auto;
}

@media only screen and (max-height: 500px) {
  .quote {
    font-size: 150%;
  }
}

@media only screen and (max-height: 400px) {
  .quote {
    font-size: 100%;
  }
}

@media only screen and (max-height: 350px) {
  .quote {
    font-size: 75%;
  }
}

.flag {
  width: 100vw;
  height: 100vh;
  text-align: center;
  line-height: 50px;
  margin: 10px;
  position: relative;
  background: purple; /* so we can see gaps */
  z-index: 1;
}

#top, #bottom {
  width: 100%;
  height: 42.9%;
  background: blue; /* so we can see gaps */
  position: relative;
}

#t1 {
  background: rgb(210 , 16, 52);
  width: 32.5%;
  height: 100%;
  position: absolute;
}
#t2 {
  background: white;
  width: 10.7%;
  height: 100%;
  left: 32.5%;
  position: absolute;
}
#t3 {
  background: rgb(210 , 16, 52);
  width: 56.8%;
  height: 100%;
  position: absolute;
  right: 0px;
}

#middle {
  background: white;
  width: 100%;
  height: 14.2%; 
}

#m1 {
  background: white;
  width: 100%;
  height: 100%;
}

.wrapper, .flag {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  max-height: 100vh;
  max-width: 100vw;
  min-height: 100vh;
  min-width: 100vw;
  margin: auto;
}

.wrapper {
  z-index: 2;
}

.facebook {
  z-index: 3;
  position: absolute;
  text-align: left;
  vertical-align: bottom;
}
